@model CRP.Controllers.ViewModels.BrowseItemsViewModel
@{
    ViewBag.Title = "Home";
}

<div class="homepage bg-second">
    <div class="boundary">
        @Html.Partial("_ItemBrowse", Model?.Items)
    </div>
</div>
