
@{
    ViewBag.Title = "IndexNew";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div class="homepage bg-second">
    <div class="boundary">
        <h3 class="light t-secondary-font">Upcoming events at The College of Agricultural and Environmental Sciences</h3>
        <div class="flex-it flex-flow-wrap">
            
        </div>
    </div>
</div>
