
@using Microsoft.Azure

@{
    ViewBag.Title = "Manage Users";
}

<h2>ManageUsers</h2>

<a id="emailList" title="Manage User Email List" href='https://lists.ucdavis.edu/sympa/review/registration-users' target="_blank">
    <img alt="Manage User Email List" src="@Url.Image("envelopes.png")"/>
</a>

<iframe id="frame" frameborder="0" src='@CloudConfigurationManager.GetSetting("AdminPageUrl")'
    scrolling="auto" name="frame" style="width:1200px; height:800px; margin-left: -90px; margin-right: 10px; border-right-width: 0px; border-left-width: 0px;">
</iframe>


@section AdditionalScripts {

	<script type="text/javascript">
	    $(document).ready(function () {
	        $("#emailList").bt("Open Link to manage email list of users.");
	    });
	</script>
}

