<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

  <connectionStrings>
    <add name="MainDB" connectionString="Data Source=vogel;Initial Catalog=CRP;Integrated Security=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CATBERT" connectionString="Data Source=vogel;Initial Catalog=CATBERT3;Integrated Security=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="Ratbert" connectionString="Data Source=vogel;Initial Catalog=Ratbert;Integrated Security=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>

  <system.serviceModel xdt:Transform="Replace">
    <services>
      <service name="CRP.Services.Wcf.ItemService" behaviorConfiguration="CustomAuthBehavior">
        <endpoint
            binding="basicHttpBinding"
            bindingConfiguration="RoleBindingConfiguration"
            contract="CRP.Services.Wcf.IItemService"
          >
        </endpoint>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name = "RoleBindingConfiguration">
          <security mode ="TransportWithMessageCredential">
            <message clientCredentialType ="UserName"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="CustomAuthBehavior">
          <serviceCredentials>
            <userNameAuthentication
            userNamePasswordValidationMode="Custom"
            customUserNamePasswordValidatorType="CRP.Services.Wcf.ServiceAuthorizationValidator, CRP"/>
          </serviceCredentials>
          <serviceMetadata httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  
</configuration>