/* */
body, h3, h1 {margin:0; padding:0; color:#1c1f22; background-color:#f8f8f8;}
#brand_bar_content, .page, #main {max-width:1000px; margin:0 auto;}
.page {text-align:right;}
#main {margin-top:-1em;}
td a img {float:left; margin-right:1em; width:200px;}
td {padding:2.5em 0;}

a {text-decoration:none; color:#394032;}
a img {border:none;}

/* top bar */
#brand_bar {height:56px; background-color:#0d548a; padding:4px 0 0;}
.brand_bar_caes_h1 {display:none;}
.brand_bar_caes_img {float:left;}
.search_box {float:right;}
.clear {clear:left;}
.page {max-width:1000px;}

/* remove */
#title {display:none;}


/* fonts */
body {font: 12px/20px 'QuicksandLight', Arial, sans-serif; }
h1, h1 a {color:#32322d; font: 30px/38px 'QuicksandBold', Arial, sans-serif; }
