@model CRP.Core.Domain.HelpTopic

@{
    ViewBag.Title = "Help Details";
}

<div class="container">
    <h2>Frequently Asked Question</h2>
    <h3>@Model.Question</h3>

    <div id="Answer">
        @Html.Raw(Model.Answer)
    </div>

    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
