@model CRP.Core.Domain.HelpTopic

@{
    ViewBag.Title = "Edit Help Item";
}

<div class="container">
    <h2>Edit</h2>

    @using (Html.BeginForm())
    {
        @Html.Partial("HelpForm")
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index", "Help")
    </div>
</div>
