@model CRP.Controllers.ViewModels.HelpTopicViewModel

@{
    ViewBag.Title = "Help Topics";
}

<div class="boundary">
    <h1>Replaced</h1>
    <p>
        The local Help and FAQ has been replaced.
    </p>
    <hr/>
    <p>
        <a class="btn btn-green" href="https://computing.caes.ucdavis.edu/documentation/registration/registration-change-log" target="_blank">What's New (March, 2021)</a>
    </p>
    <p>
        <a class="btn btn-green" href="https://computing.caes.ucdavis.edu/documentation/registration" target="_blank">FAQ</a>
    </p>
    <p>
        <a class="btn btn-red" href="https://caeshelp.ucdavis.edu/?appname=Registration" target="_blank">Admin Help Ticket</a>
    </p>
</div>
