@model CRP.Controllers.ViewModels.BrowseItemsViewModel

@{
    ViewBag.Title = "Tags";
}
<div class="boundary">
@Html.ActionLink("View All", "Index", "Home")

@Html.Partial("_ItemBrowse", Model.Items.ToList()) 
</div>