@using CRP.Controllers.Helpers
@if (Request.IsAuthenticated)
{
    <div class="dropdown">
        @{var userName = String.Empty;}
        @if (!Request.IsOpenId())
        {
            userName = HttpContext.Current.User.Identity.Name;
        }
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">@userName More Actions <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Lookup Order", "Lookup", "Transaction")</li>
            <li>@Html.ActionLink("Help", "Index", "Help")</li>

            <li class="divider"></li>
            <li>@Html.ActionLink("Logout", "LogOut", "Account")</li>
        </ul>
    </div>
}
