@model CRP.Controllers.ViewModels.SearchViewModel

@{
    ViewBag.Title = "Index";
}

<div class="homepage bg-second">
    <div class="boundary">
        <h2>Search Results</h2>
        <p>@Html.ActionLink("View All", "Index", "Home")</p>
        @Html.Partial("_ItemBrowse", Model.Items)
    </div>
</div>